*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus
{
  outline:none !important;
  -webkit-appearance:none;
  box-shadow: none !important;
 
}



.myform{
  display: inline-block;
  text-decoration: none;
  position: relative;
  background: none;
  cursor: pointer;
  min-width: 300px;
  background: rgba(0,0,0,0.09);
  border: 3.5px solid #001f3f;
  border-left: 4px solid #001f3f;
}

/* .myform:before{
  content: '';
  position: absolute;
  top: -1px;
  left: +1px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2.5px solid transparent;
}

.myform:hover:before{
  animation: animate 1s linear forwards;
}

@keyframes animate{
  0% {
    width: 0;
    height: 0;
    border-top-color: #001f3f; 
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color:  #001f3f; 
    border-right-color:  #001f3f;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color:  #001f3f; 
    border-right-color:  #001f3f;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.myform::after{
  content: '';
  position: absolute;
  top: 1px;
  left: -1px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2.5px solid transparent;
}

.myform:hover::after{
  animation: animate2 1s linear forwards;
  animation-delay: 1s;
}

@keyframes animate2{
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent; 
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color:  #001f3f;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color:  transparent; 
    border-right-color:  transparent;
    border-bottom-color: #001f3f;
    border-left-color:  #001f3f;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color:  transparent; 
    border-right-color:  transparent;
    border-bottom-color: #001f3f;
    border-left-color: #001f3f;
  }
} */